.button-orders-list {
  @extend .button-common;
  height: 27px;
  border: 1px solid $c-red;
  font-family: $f-l;
  font-size: 13px;
  color: $c-red;
  background: #fff;
  padding: 0 12px;
  
  &.active {
    background: $c-red;
    color: #fff;
  }
}