.button-back {
  @extend .button-all;
  height: 30px;
  line-height: 24px;
  display: flex;
  align-items: center;
  font-size: 20px;
  border: 0;
  background: transparent;

  &:hover {
    @media (hover: hover) {
      & .button-back__ico-wrap {
        background: $c-red;

        & svg path {
          stroke: #fff;
        }
      }
    }
  }

  &__ico-wrap {
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    background: transparent;
    border-radius: 50%;
    transition: .15s;
    margin: 0 10px 0 0;

    & svg {
      position: relative;
      left: -2px;
      display: block;

      & path {
        transition: .15s;
      }
    }
  }

  &__text {
    display: block;
  }
}