.detail {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: 11;
  display: flex;

  &__images {
    flex-shrink: 0;
    flex-grow: 1;
    position: relative;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__container {
    flex-shrink: 0;
    position: relative;
    z-index: 2;
    width: 375px;
    background: #fff;

    @media (max-width: 374px) {
      width: 320px;
    }
  }

  &__substrate {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 1;
    background: rgba(0,0,0,.5);
  }
}