.goods-gallery-navigator {
  &__button {
    @extend .button-all;
    position: absolute;
    top: 0;
    bottom: 0;
    width: 26px;
    background: rgba(0,0,0,.5);
    border: 0;
    border-radius: 0;

    &:after {
      content: '';
      position: absolute;
      top: 0;
      bottom: 0;
      right: 0;
      left: 0;
      display: block;
      width: 0;
      height: 0;
      border-style: solid;
      margin: auto;
    }

    &:hover {
      @media (hover: hover) {
        background: rgba(0,0,0,.8);
      }
    }
  }

  &__button-prev {
    @extend .goods-gallery-navigator__button;
    left: 0;

    &:after {
      border-width: 6px 6px 6px 0;
      border-color: transparent #ffffff transparent transparent;
    }
  }

  &__button-next {
    @extend .goods-gallery-navigator__button;
    right: 0;

    &:after {
      border-width: 6px 0 6px 6px;
      border-color: transparent transparent transparent #ffffff;
    }
  }
}