.goods-add {
  @extend .button-common;
  background: $c-red;
  color: #fff;
  padding: 0 22px;

  &:hover {
    @media (hover:hover) {
      color: #fff;
      background: $c-dark-red;
    }
  }

  &__text {
    display: block;
  }
}