.goods-price {
  margin: 0 0 15px;

  &__title {
    display: block;
    font-size: 11px;
    color: $c-red;
    line-height: 17px;
    font-family: $f-l;
    margin: 0 0 6px;
  }

  &__block {
    display: flex;
    align-items: center;
    height: 18px;
  }

  &__num {
    display: block;
    font-size: 18px;
    color: $c-text;
    line-height: 18px;
    font-family: $f-l;
    margin: 0 6px 0 0;
  }

  &__cur {
    display: block;
    font-size: 18px;
    color: $c-text;
    line-height: 20px;
    font-family: $f-l;
  }
}