.filter-card-link {
  display: flex;
  align-items: center;
  font-size: 13px;
  line-height: 17px;
  color: $c-text;
  font-family: $f-l;
  padding: 1px 6px;
  background: $c-bg-filter-item;
  text-decoration: none;
  border-radius: 2px;
  border: 1px solid transparent;
  transition: .15s;

  &:hover {
    @media (hover: hover) {
      border-color: $c-red;
    }
  }

  &.active {
    background: $c-red;
    color: #fff;

    &:hover {
      @media (hover: hover) {
        background: $c-dark-red;
      }
    }
  }

  &__reset {
    width: 17px;
    height: 17px;
    background: transparent;
    border: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    margin: 0 -6px 0 0;

    & svg {
      display: block;
      transition: .08s;

      & path {
        transition: .15s;
      }
    }
  }
}