.button-download-price {
  @extend .button-common;
  width: 100%;
  border-color: $c-red;
  padding: 0 16px;
  background: transparent;
  color: $c-red;

  &:hover {
    @media (hover:hover) {
      color: $c-dark-red;
      border-width: 2px;
      padding: 0 15px;
    }
  }
}