.catalog-menu-wrapper {
  height: 100%;
  overflow-y: auto;
  padding: 10px 0 15px;
  background: #fff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  @media (max-width: 1023px) {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    width: 320px;
    transition: opacity .2s, transform .2s;
    transform: translateX(-100%);
    background: #fff;
    box-shadow: 3px 3px 6px rgba(0,0,0,.25);
    opacity: 0;
    z-index: 1;
    overflow-y: auto;
    padding: 70px 10px 20px;

    &.active {
      transition: opacity .1s, transform .2s;
      transform: translateX(0);
      opacity: 1;
    }
  }

  &__button {
    padding: 0 11px;
  }
}