/*fonts*/
$f-l: "lucida regular",sans-serif;

/*color*/
$c-red: #e30613;
$c-dark-red: #B7000B;
$c-text: #545454;
$c-text-gray: #cecece;
$c-plac: #828282;
$c-border: #b3b3b3;
$c-border-form: #e2e2e2;
$c-border-light: #e2e2e2;
$c-bg-footer: #ebebeb;
$c-bg-gray: #CBCBCB;
$c-bg-yellow: #f9eb82;
$c-hover-bg-list-link: #FCFCFC;
$c-active-bg-list-link: #FFEDEF;
$c-bg-filter-item: #FFEDEF;
$c-border-section: #d0d1d1;
$c-border-list-item: #e2e2e2;
$c-box-shadow-list-item: #ededed;
$c-bg-catalog: #F5F6F8;
$c-button-reset: #9B9B9B;
$c-search: #898989;
$c-gray-title: #898989;
$c-btn-gray: #e1e1e1;
$c-hover-bg-btn-gray: #aaaaaa;