.button-mob-menu {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 41px;
  height: 40px;
  padding: 0;
  background: transparent;
  border: 0;
  border-radius: 0;
  transform: rotate(0);
  transition: .25s;
  user-select: none;
  outline: none;

  &:focus, &:active {
    outline: none;
  }

  &.active {
    transform: rotate(90deg);

    & .button-mob-menu__line {
      &:nth-child(2) {
        opacity: 0;
      }

      &:first-child {
        transform: translateY(0) rotate(45deg);
      }

      &:last-child {
        transform: translateY(0) rotate(-45deg);
      }
    }
  }

  &__line {
    position: relative;
    display: block;
    background: #fff;
    width: 31px;
    height: 2px;
    transition: .15s;

    &:first-child, &:last-child {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      margin: auto;
    }

    &:nth-child(2) {
      opacity: 1;
    }

    &:first-child {
      transform: translateY(8px);
    }

    &:last-child {
      transform: translateY(-8px);
    }
  }
}